# MATCH SUMMARY

In [8]:
import pandas as pd 
import csv
data = pd.read_csv("match_schedule_results.csv")
data

,Match_no,Date,Venue,Team1,Team2,Winner,Scorecard URL
0,1,October 5,Ahmedabad,England,New Zealand,New Zealand,https://www.cricketwa.com/scorecard/18020/engl...
1,2,October 6,Hyderabad,Pakistan,Netherlands,Pakistan,https://www.cricketwa.com/scorecard/18021/paki...
2,3,October 7,Dharamsala,Bangladesh,Afghanistan,Bangladesh,https://www.cricketwa.com/scorecard/23008/bang...
3,4,October 7,Delhi,South Africa,Sri Lanka,South Africa,https://www.cricketwa.com/scorecard/23009/sout...
4,5,October 8,Chennai,India,Australia,India,https://www.cricketwa.com/scorecard/23010/indi...
5,6,October 9,Hyderabad,New Zealand,Netherlands,New Zealand,https://www.cricketwa.com/scorecard/23011/new-...
6,7,October 10,Dharamsala,England,Bangladesh,England,https://www.cricketwa.com/scorecard/23012/engl...
7,8,October 10,Hyderabad,Pakistan,Sri Lanka,Pakistan,https://www.cricketwa.com/scorecard/23014/paki...
8,9,October 11,Delhi,India,Afghanistan,India,https://www.cricketwa.com/scorecard/23013/indi...
9,10,October 12,Ekana Cricket Stadium Lucknow,Australia,South Africa,South Africa,https://www.cricketwa.com/scorecard/23015/aust...
10,11,October 13,Chennai,New Zealand,Bangladesh,New Zealand,https://www.cricketwa.com/scorecard/23016/new-...
11,12,October 14,Ahmedabad,India,Pakistan,India,https://www.cricketwa.com/scorecard/23018/indi...
12,13,October 15,Delhi,England,Afghanistan,Afghanistan,https://www.cricketwa.com/scorecard/23017/engl...
13,14,October 16,Ekana Cricket Stadium Lucknow,Australia,Sri Lanka,Australia,https://www.cricketwa.com/scorecard/23019/aust...
14,15,October 17,Dharamsala,South Africa,Netherlands,Netherlands,https://www.cricketwa.com/scorecard/23020/sout...
15,16,October 18,Chennai,New Zealand,Afghanistan,New Zealand,https://www.cricketwa.com/scorecard/23021/new-...
16,17,October 19,Pune,India,Bangladesh,India,https://www.cricketwa.com/scorecard/23022/indi...
17,18,October 20,Bengaluru,Australia,Pakistan,Australia,https://www.cricketwa.com/scorecard/23023/aust...
18,19,October 21,Ekana Cricket Stadium Lucknow,Netherlands,Sri Lanka,Sri Lanka,https://www.cricketwa.com/scorecard/23024/sri-...
19,20,October 21,Mumbai,England,South Africa,South Africa,https://www.cricketwa.com/scorecard/23025/engl...
20,21,October 22,"Himachal Pradesh Cricket Association Stadium, ...",India,New Zealand,India,https://www.cricketwa.com/scorecard/23026/indi...
21,22,October 23,Chennai,Pakistan,Afghanistan,Afghanistan,https://www.cricketwa.com/scorecard/23027/paki...
22,23,October 24,Mumbai,South Africa,Bangladesh,South Africa,https://www.cricketwa.com/scorecard/23028/sout...
23,24,October 25,Delhi,Australia,Netherlands,Australia,https://www.cricketwa.com/scorecard/23029/aust...
24,25,October 26,Bengaluru,England,Sri Lanka,Sri Lanka,https://www.cricketwa.com/scorecard/23030/engl...
25,26,October 27,Chennai,Pakistan,South Africa,South Africa,https://www.cricketwa.com/scorecard/23031/paki...
26,27,October 28,Dharamsala,Australia,New Zealand,Australia,https://www.cricketwa.com/scorecard/23032/aust...
27,28,October 28,Kolkata,Netherlands,Bangladesh,Netherlands,https://www.cricketwa.com/scorecard/23033/bang...
28,29,October 29,Ekana Cricket Stadium Lucknow,India,England,India,https://www.cricketwa.com/scorecard/23034/indi...
29,30,October 30,Pune,Afghanistan,Sri Lanka,Afghanistan,https://www.cricketwa.com/scorecard/23035/afgh...
30,31,October 31,Kolkata,Pakistan,Bangladesh,Pakistan,https://www.cricketwa.com/scorecard/23036/paki...
31,32,November 1,Pune,New Zealand,South Africa,South Africa,https://www.cricketwa.com/scorecard/23037/new-...
32,33,November 2,Mumbai,India,Sri Lanka,Sri Lanka,https://www.cricketwa.com/scorecard/23038/indi...
33,34,November 3,Ekana Cricket Stadium Lucknow,Netherlands,Afghanistan,Afghanistan,https://www.cricketwa.com/scorecard/23039/neth...
34,35,November 4,Bengaluru,New Zealand,Pakistan,Pakistan,https://www.cricketwa.com/scorecard/23040/new-...
35,36,November 4,Ahmedabad,England,Australia,Australia,https://www.cricketwa.com/scorecard/23041/engl...
36,37,November 5,Kolkata,India,South Africa,India,https://www.cricketwa.com/scorecard/23042/indi...
37,38,November 6,Delhi,Bangladesh,Sri Lanka,Bangladesh,https://www.cricketwa.com/scorecard/23043/bang...
38,39,November 7,Mumbai,Australia,Afghanistan,Australia,https://www.cricketwa.com/scorecard/23044/aust...
39,40,November 8,Pune,England,Netherlands,England,https://www.cricketwa.com/scorecard/23045/engl...
40,41,November 9,Bengaluru,New Zealand,Sri Lanka,New Zealand,https://www.cricketwa.com/scorecard/23046/new-...
41,42,November 10,Ahmedabad,South Africa,Afghanistan,South Africa,https://www.cricketwa.com/scorecard/23047/sout...
42,43,November 11,Pune,Australia,Bangladesh,Australia,https://www.cricketwa.com/scorecard/23049/aust...
43,44,November 11,Kolkata,England,Pakistan,England,https://www.cricketwa.com/scorecard/23050/engl...
44,45,November 12,Bengaluru,India,Netherlands,India,https://www.cricketwa.com/scorecard/23048/indi...
45,46,November 15,Mumbai,India,New Zealand,India,https://www.cricketwa.com/scorecard/23051/indi...
46,47,November 16,Kolkata,Australia,South Africa,Australia,https://www.cricketwa.com/scorecard/23052/aust...
47,48,November 19,Ahmedabad,India,Australia,Australia,https://www.cricketwa.com/scorecard/23053/indi...

In [9]:
len(data)

48

In [12]:
df_match= pd.DataFrame(data)
df_match.head()

,Match_no,Date,Venue,Team1,Team2,Winner,Scorecard URL
0,1,October 5,Ahmedabad,England,New Zealand,New Zealand,https://www.cricketwa.com/scorecard/18020/engl...
1,2,October 6,Hyderabad,Pakistan,Netherlands,Pakistan,https://www.cricketwa.com/scorecard/18021/paki...
2,3,October 7,Dharamsala,Bangladesh,Afghanistan,Bangladesh,https://www.cricketwa.com/scorecard/23008/bang...
3,4,October 7,Delhi,South Africa,Sri Lanka,South Africa,https://www.cricketwa.com/scorecard/23009/sout...
4,5,October 8,Chennai,India,Australia,India,https://www.cricketwa.com/scorecard/23010/indi...

In [14]:
df_match.shape

(48, 7)

In [23]:
df_match= df_match.drop(columns= ['Scorecard URL'])

In [24]:
df_match.head()

   Match_no       Date       Venue          Team1         Team2        Winner
0         1  October 5   Ahmedabad       England    New Zealand   New Zealand
1         2  October 6   Hyderabad      Pakistan    Netherlands      Pakistan
2         3  October 7  Dharamsala    Bangladesh    Afghanistan    Bangladesh
3         4  October 7       Delhi  South Africa      Sri Lanka  South Africa
4         5  October 8     Chennai         India      Australia         India

# BATTING SUMMARY

In [29]:
data_bat = pd.read_csv("batting_summary.csv")
df_bat= pd.DataFrame(data_bat)
data_bat.head()

,Match_no,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300
1,1,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300
2,1,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.500
3,1,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.300
4,1,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.700

In [40]:
merge_df= pd.merge(df_match, data_bat, on ='Match_no')
merge_df.head()

,Match_no,Date,Venue,Team1,Team2,Winner,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate
0,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300
1,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300
2,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.500
3,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.300
4,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.700

In [45]:
merge_df["Out/Not Out"]= merge_df.Dismissal.apply(lambda x: "Not Out" if x=="not out" else "Out")
merge_df.head(11)

,Match_no,Date,Venue,Team1,Team2,Winner,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Dismissal,Runs,Balls,4s,6s,Strike_Rate,Out/Not Out
0,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Jonny Bairstow,1,c Daryl Mitchell b Mitchell Santner,33,35,4,1,94.300,Out
1,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Dawid Malan,2,c Tom Latham b Matt Henry,14,24,2,0,58.300,Out
2,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Joe Root,3,b Glenn Phillips,77,86,4,1,89.500,Out
3,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Harry Brook,4,c Devon Conway b Rachin Ravindra,25,16,4,1,156.300,Out
4,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Moeen Ali,5,b Glenn Phillips,11,17,1,0,64.700,Out
5,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Jos Buttler,6,c Tom Latham b Matt Henry,43,42,2,2,102.400,Out
6,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Liam Livingstone,7,c Matt Henry b Trent Boult,20,22,3,0,90.900,Out
7,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Sam Curran,8,c Tom Latham b Matt Henry,14,19,0,0,73.700,Out
8,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Chris Woakes,9,c Will Young b Mitchell Santner,11,12,1,0,91.700,Out
9,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Adil Rashid,10,not out,15,13,0,1,115.400,Not Out
10,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Mark Wood,11,not out,13,14,0,0,92.900,Not Out

In [49]:
df_mergebat= merge_df.drop(columns= ['Dismissal'])
df_mergebat.head(11)

,Match_no,Date,Venue,Team1,Team2,Winner,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Runs,Balls,4s,6s,Strike_Rate,Out/Not Out
0,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Jonny Bairstow,1,33,35,4,1,94.300,Out
1,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Dawid Malan,2,14,24,2,0,58.300,Out
2,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Joe Root,3,77,86,4,1,89.500,Out
3,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Harry Brook,4,25,16,4,1,156.300,Out
4,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Moeen Ali,5,11,17,1,0,64.700,Out
5,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Jos Buttler,6,43,42,2,2,102.400,Out
6,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Liam Livingstone,7,20,22,3,0,90.900,Out
7,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Sam Curran,8,14,19,0,0,73.700,Out
8,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Chris Woakes,9,11,12,1,0,91.700,Out
9,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Adil Rashid,10,15,13,0,1,115.400,Not Out
10,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Mark Wood,11,13,14,0,0,92.900,Not Out

# BOWLING SUMMARY

In [48]:
data_bowl = pd.read_csv("bowling_summary.csv")
df_bowl= pd.DataFrame(data_bowl)
data_bowl.head()

,Match_no,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy
0,1,England vs New Zealand,New Zealand,Trent Boult,10.0,1,48,1,4.8
1,1,England vs New Zealand,New Zealand,Matt Henry,10.0,1,48,3,4.8
2,1,England vs New Zealand,New Zealand,Mitchell Santner,10.0,0,37,2,3.7
3,1,England vs New Zealand,New Zealand,Jimmy Neesham,7.0,0,56,0,8.0
4,1,England vs New Zealand,New Zealand,Rachin Ravindra,10.0,0,76,1,7.6

In [50]:
df_mergebowl= pd.merge(df_match, data_bowl, on ='Match_no')
df_mergebowl.head()

,Match_no,Date,Venue,Team1,Team2,Winner,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy
0,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Trent Boult,10.0,1,48,1,4.8
1,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Matt Henry,10.0,1,48,3,4.8
2,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Mitchell Santner,10.0,0,37,2,3.7
3,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Jimmy Neesham,7.0,0,56,0,8.0
4,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Rachin Ravindra,10.0,0,76,1,7.6

In [52]:
data_player = pd.read_csv("world_cup_players_info.csv")
data_player.head()

,player_name,team_name,image_of_player,battingStyle,bowlingStyle,playingRole,description
0,Jonny Bairstow,England,,Right-hand bat,Right-arm fast-medium,Wicketkeeper Batter,Jonny Bairstow is an English cricketer known f...
1,Joe Root,England,,Right hand Bat,Right arm Offbreak,Top order Batter,Joe Root is an English cricketer known for his...
2,Jos Buttler,England,,Right hand Bat,,Wicketkeeper Batter,Jos Buttler is an English cricketer known for ...
3,Will Young,New Zealand,,Right hand Bat,Right arm Offbreak,Top order Batter,Will Young is a New Zealand cricketer known fo...
4,Rachin Ravindra,New Zealand,,Left hand Bat,Slow Left arm Orthodox,Top order Batter,Rachin Ravindra is a New Zealand cricketer kno...

In [53]:
df_player= pd.DataFrame(data_player)
df_player= df_player.drop(columns= ['image_of_player'])

In [54]:
df_player.head()

,player_name,team_name,battingStyle,bowlingStyle,playingRole,description
0,Jonny Bairstow,England,Right-hand bat,Right-arm fast-medium,Wicketkeeper Batter,Jonny Bairstow is an English cricketer known f...
1,Joe Root,England,Right hand Bat,Right arm Offbreak,Top order Batter,Joe Root is an English cricketer known for his...
2,Jos Buttler,England,Right hand Bat,,Wicketkeeper Batter,Jos Buttler is an English cricketer known for ...
3,Will Young,New Zealand,Right hand Bat,Right arm Offbreak,Top order Batter,Will Young is a New Zealand cricketer known fo...
4,Rachin Ravindra,New Zealand,Left hand Bat,Slow Left arm Orthodox,Top order Batter,Rachin Ravindra is a New Zealand cricketer kno...

In [55]:
df_mergebat.head()

,Match_no,Date,Venue,Team1,Team2,Winner,Match_Between,Team_Innings,Batsman_Name,Batting_Position,Runs,Balls,4s,6s,Strike_Rate,Out/Not Out
0,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Jonny Bairstow,1,33,35,4,1,94.300,Out
1,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Dawid Malan,2,14,24,2,0,58.300,Out
2,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Joe Root,3,77,86,4,1,89.500,Out
3,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Harry Brook,4,25,16,4,1,156.300,Out
4,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,England,Moeen Ali,5,11,17,1,0,64.700,Out

In [56]:
df_mergebowl.head()

,Match_no,Date,Venue,Team1,Team2,Winner,Match_Between,Bowling_Team,Bowler_Name,Overs,Maidens,Runs,Wickets,Economy
0,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Trent Boult,10.0,1,48,1,4.8
1,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Matt Henry,10.0,1,48,3,4.8
2,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Mitchell Santner,10.0,0,37,2,3.7
3,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Jimmy Neesham,7.0,0,56,0,8.0
4,1,October 5,Ahmedabad,England,New Zealand,New Zealand,England vs New Zealand,New Zealand,Rachin Ravindra,10.0,0,76,1,7.6

In [57]:
df_player.head()

,player_name,team_name,battingStyle,bowlingStyle,playingRole,description
0,Jonny Bairstow,England,Right-hand bat,Right-arm fast-medium,Wicketkeeper Batter,Jonny Bairstow is an English cricketer known f...
1,Joe Root,England,Right hand Bat,Right arm Offbreak,Top order Batter,Joe Root is an English cricketer known for his...
2,Jos Buttler,England,Right hand Bat,,Wicketkeeper Batter,Jos Buttler is an English cricketer known for ...
3,Will Young,New Zealand,Right hand Bat,Right arm Offbreak,Top order Batter,Will Young is a New Zealand cricketer known fo...
4,Rachin Ravindra,New Zealand,Left hand Bat,Slow Left arm Orthodox,Top order Batter,Rachin Ravindra is a New Zealand cricketer kno...

In [58]:
df_match.head()

   Match_no       Date       Venue          Team1         Team2        Winner
0         1  October 5   Ahmedabad       England    New Zealand   New Zealand
1         2  October 6   Hyderabad      Pakistan    Netherlands      Pakistan
2         3  October 7  Dharamsala    Bangladesh    Afghanistan    Bangladesh
3         4  October 7       Delhi  South Africa      Sri Lanka  South Africa
4         5  October 8     Chennai         India      Australia         India

In [60]:
df_match.to_csv("C:/Users/Abhi-Mithil/Downloads/CSV" + "df_match.csv")

In [61]:
df_mergebat.to_csv("C:/Users/Abhi-Mithil/Downloads/CSV" + "df_mergebat.csv")
df_mergebowl.to_csv("C:/Users/Abhi-Mithil/Downloads/CSV" + "df_mergebowl.csv")
df_player.to_csv("C:/Users/Abhi-Mithil/Downloads/CSV" + "df_player.csv")